{% extends 'base.html.twig' %}

{% block title %}Formater une liste de personne
{% endblock %}

{% block body %}

	<div class="">
		<h1>Formater une liste de personne</h1>
	</div>

	{{ form(form) }}

{% endblock %}